@media only screen and (min-width: 768px) and (orientation: portrait), (min-width: 768px) and (orientation: landscape){ 

#nav,
#innerNav{
	width: 100%;
	height: auto;
	overflow: auto;
}

nav{
	margin: 0px 0px 40px 0px;
}

#phoneMenu{
	display: none;
}

#phoneNav{
	display: none;
}

#nav{
	display: block;
	background-color: #d1aed8;
	padding: 20px 0px;
}

#innerNav{
	max-width: 1240px;
	margin: 0 auto;
}

#navItemsContainer{
	margin: 0 auto;
	display: table;
}

#companyHeader{
	max-width: 1240px;
	margin-top: 25px;
	margin-bottom: 25px;
	position: relative;
}

#companyHeader a{
	width: auto;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
	margin: 0px;
}

#companyHeader a img{
	margin: 0px 0px 0px 20px;
}

#companyHeader h2{
	font-weight: 500;
	font-size: 48px;
}

.navItem{
	height: auto;
	width: auto;
	overflow: auto;
	display: inline-block;
	margin: 2px 15px 0px 15px;
}

.navItem a{
	color: #fff2d2;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transition: 0.2s linear color;
    -moz-transition: 0.2s linear color;
    -o-transition: 0.2s linear color;
    -ms-transition: 0.2s linear color;
    transition: 0.2s linear color;
}

.navItem a:hover{
	color: #0c3462;
}

.sticky{
    position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.sticky + div {
	padding-top: 120px;
}

}