@media only screen and (min-width: 768px) and (orientation: portrait), (min-width: 768px) and (orientation: landscape){ 

#nav,
#innerNav{
	width: 100%;
	height: auto;
	overflow: auto;
}

#nav{
	border-top: 3px solid #0c3462;
	border-bottom: 3px solid #0c3462;
	padding: 20px 0px;
	margin: 0px 0px 50px 0px;
}

#innerNav{
	max-width: 1240px;
	margin: 0 auto;
}

#navItemsContainer{
	margin: 0 auto;
	display: table;
}

#companyHeader{
	max-width: 1240px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 35px 0px;
	overflow: hidden;
	text-align: center;
	position: relative;
}

#companyHeader a{
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%, -50%);
}

#companyHeader a img{
	width: 125px;
}

#companyHeader h2{
	font-family: 'Parisienne', cursive, Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 48px;
}

.navItem{
	height: auto;
	width: auto;
	overflow: auto;
	display: inline-block;
	margin: 0px 15px;
}

.navItem a{
	color: #0c3462;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transition: 0.2s linear color;
    -moz-transition: 0.2s linear color;
    -o-transition: 0.2s linear color;
    -ms-transition: 0.2s linear color;
    transition: 0.2s linear color;
}

.navItem a:hover{
	color: #d1aed2;
}

}